/.buckconfig
/.eslintrc.js
/.git
/.gitattributes
/.gitignore
/.prettierrc.js
/.watchmanconfig
/android
/app.json
/App.tsx
/babel.config.js
/index.js
/ios
/metro.config.js
/node_modules
/package-lock.json
/package.json
/src
/tsconfig.json
/__tests__